*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-pills .nav-link.active {
    background-color: #ff7a00;
    color: #fff;
}
.main{
    background: url('./images/central-image.png');
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding:0;
}
.card-header, .card-body {
    border: none;
}